node_modules/
cache/
cache-testnet/
artifacts/
artifacts-testnet/
.env
.claude/
deployments/
scripts/
test/
runs/
wallets.json
profiles.json
contracts/mocks/
docs/
contracts-testnet/
.planning/
forge-out/
lib/
cache/fuzz/
slither-report.json
out/